{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add category</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
    	    <div class="form-group">
         	    {{ form.submit(class="btn btn-outline-info") }}
    	    </div>
            </fieldset>    
        </form>
    </div>
    <ul class="list-group">
    <h2>Existing categories: </h2>
        {% for category in allCategories %}
            <li class="list-group-item list-group-item-light">
                <h3>{{ category.title }} </h3>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
