{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    <form method="POST" action="{{ url_for('offerList') }}">
            {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Choose publication parameters</legend>
            <div class="form-group">
                {{ form.previevText.label(class="form-control-label") }}
                {% if form.previevText.errors %}
                    {{ form.previevText(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.previevText.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.previevText(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.taskType.label(class="form-control-label") }}
                {% if form.taskType.errors %}
                    {{ form.taskType(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.taskType.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.taskType(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
    <h2>Offers: </h2>
    {% for offer in offers %}
    <li class="list-group-item list-group-item-light">
    <input name="offer_id" type="hidden" value="{{ offer.id }}" />
    <table>
        <tr>
                <ul class="list-group">  
                    <h3>Channel: {{offer.tgLink}} </h3>
                    <h3>Category: {{offer.categoryListAdv[0].category.title}}</h3>
                    <h3>Price: {{offer.price}}</h3>
    	            <div class="form-group">
         	        {{ form.submit(class="btn btn-outline-info") }}
    	            </div>
                </ul>
        </tr>
    </table>
    </li>
    {% endfor %}
    </div>
</form>
{% endblock content %}
