{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add offer</legend>
            <div class="form-group">
                {{ form.tgLink.label(class="form-control-label") }}
                {% if form.tgLink.errors %}
                    {{ form.tgLink(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tgLink.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tgLink(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.offerType.label(class="form-control-label") }}
                {% if form.offerType.errors %}
                    {{ form.offerType(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.offerType.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.offerType(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.categoryListAdv.label(class="form-control-label") }}
                {% if form.categoryListAdv.errors %}
                    {{ form.categoryListAdv(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.categoryListAdv.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.categoryListAdv(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.price.label(class="form-control-label") }}
                {% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.price(class="form-control form-control-lg") }}
                {% endif %}
            </div>
    	    <div class="form-group">
         	    {{ form.submit(class="btn btn-outline-info") }}
    	    </div>
            </fieldset>    
        </form>
    </div>
    <h2>Your Offers: </h2>
    {% for offer in current_user.offers %}
    <li class="list-group-item list-group-item-light">
    <table>
        <tr>
                <ul class="list-group">  
                    <h3>Channel: {{offer.tgLink}} </h3>
                    <h3>Category: {{offer.categoryListAdv[0].category.title}}</h3>
                </ul>
        </tr>
    </table>
    </li>
    {% endfor %}
{% endblock content %}
