{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    <form method="POST" action="{{ url_for('taskCheck') }}">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
    <h2>Tasks: </h2>
    {% for task in tasks %}
    <li class="list-group-item list-group-item-light">
                <ul class="list-group">  
                    <h3>ID: {{task.id}}</h3>
                    <h3>Text: {{task.previevText}}</h3>
                    <h3>Price: {{task.offer.price}}</h3>
    	            <div class="form-group">
         	       <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="{{ task.id }}">
    	            </div>
                </ul>
    </li>
    {% endfor %}
            </fieldset>
        </form>
    </div>
{% endblock content %}
