{% extends "layout.html" %}
{% block content %}
    <h2>Total balance: {{ balance }} Gram</h2>
    <h2>Transactions: </h2>
    {% for transaction in transactions %}
    <li class="list-group-item list-group-item-light">
    <table>
        <tr>
                <ul class="list-group">  
                    <h3>ID: {{ transaction.id }} </h3>
                    <h3>Time: {{ transaction.transaction_time }}</h3>
                    <h3>Type: {{ transaction.transactionType }}</h3>
                    <h3>Status: {{ transaction.transactionStatus }}</h3>
                    <h3>Adv amount: {{ transaction.adv_amount }}</h3>
                    <h3>Aff amount: {{ transaction.aff_amount }}</h3>
                </ul>
        </tr>
    </table>
    </li>
    {% endfor %}
{% endblock content %}
